# BEGINNER TASK

# => TASK 1 - VARIABLES

#### 1. Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.

In [61]:
pi = 22/7
print(type(pi))
print()

<class 'float'>

#### 2. Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

In [60]:
for_val = 4
print(for_val)
print()

4

#### 3. Store the principal amount, rate of interest, and time in different variables and then calculate the Simple Interest for 3 years. Formula: Simple Interest = P x R x T / 100

In [59]:
pa = float(input("Enter the principal amount "))
rate = float(input("Enter the rate of interest "))
time = 3
SI = (pa*rate*time)/100

print("Simple Interest: ", SI)
print()
print()

Enter the principal amount  10000
Enter the rate of interest  5

Simple Interest:  1500.0

# => TASK 2 - NUMBERS

#### 1. Write a function that takes two arguments, 145 and 'o', and uses the `format` function to return a formatted string. Print the  result. Try to identify the representation used

In [58]:
def formatFunction(num, char):
    return "{0:{1}^10}".format(num, char)

res = formatFunction(145, "o")
print("Formatted String: ", res)
print("Datatype: ", type(res))
print()

Formatted String:  ooo145oooo
Datatype:  <class 'str'>

#### 2. In a village, there is a circular pond with a radius of 84 meters. Calculate the area of the pond using the formula: Circle Area = π r^2. (Use the value 3.14 for π) Bonus Question: If there is exactly 1.4 liters of water in a square meter, what is the total amount of water in the pond? Print the answer without any decimal point in it. Hint: Circle Area = π r^2 Water in the pond = Pond Area Water per Square Meter

In [57]:
from math import floor


radius = 84
pie = 3.14
area = pie * radius * radius
print("Area of the circle: ", area)

water = 1.4 * area
print("Total amount of water in the pond: ", floor(water))
print()

Area of the circle:  22155.84
Total amount of water in the pond:  31018

#### 3. If you cross a 490meterlong street in 7 minutes, calculate your speed in meters per second. Print the answer without any decimal point in it. Hint: Speed = Distance / Time

In [56]:
from math import floor


distance = 490
time = 7*60
speed = distance / time
print("Speed in mps: ", floor(speed))
print()
print()

Speed in mps:  1

# => TASK 3 - LIST

#### 1. You have a list of superheroes representing the Justice League. justice_league = ["Superman","Batman","WonderWoman","Flash","Aquaman", "Green Lantern"]

#### 1. Calculate the number of members in the Justice League.

In [50]:
justice_league = ["Superman", "Batman", "WonderWoman", "Flash", "Aquaman", "Green Lantern"]
num = len(justice_league)
print("Number of members in the justice league: ", num)
print()

Number of members in the justice league:  6

#### 2. Batman recruited Batgirl and Nightwing as new members.Add them to your list.

In [51]:
justice_league.extend(["Batgirl", "Nightwing"])
print(justice_league)
print()

['Superman', 'Batman', 'WonderWoman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

#### 3. Wonder Woman is now the leader of the Justice League.Move her to the beginning of the list.

In [52]:
justice_league.remove("WonderWoman")
justice_league.insert(0, "WonderWoman")
print(justice_league)
print()

['WonderWoman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

#### 4. Aquaman and Flash are having conflicts, and you need to separate them. Choose either "Green Lantern" or "Superman" and move them in between Aquaman and Flash.

In [53]:
justice_league.remove("Superman")
justice_league.insert(justice_league.index("Flash") + 1, "Superman")
print(justice_league)
print()

['WonderWoman', 'Batman', 'Flash', 'Superman', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

#### 5. The Justice League faced a crisis, and Superman decided to assemble a new team. Replace the existing list with the following new members:  "Cyborg","Shazam","Hawkgirl","Martian Manhunter","Green Arrow".

In [54]:
justice_league = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
print(justice_league)
print()

['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

#### 6. Sort the Justice League alphabetically. The hero at the 0th index will become the new leader.

In [55]:
justice_league.sort()
print(justice_league)
print("The new leader is:", justice_league[0])
print()
print()

['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
The new leader is: Cyborg

# => TASK 4 - IF CONDITION

#### 1. Write a program to determine the BMI Category based on user input.
#### Ask the user to:
#### Enter height in meters
#### Enter weight in kilograms
#### Calculate BMI using the formula: BMI = weight / (height)2
#### Use the following categories:
#### If BMI is 30 or greater, print "Obesity"
#### If BMI is between 25 and 29, print "Overweight"
#### If BMI is between 18.5 and 25, print "Normal"
#### If BMI is less than 18.5, print 'Underweight

In [45]:
height = float(input("Enter height in meters: "))
weight = float(input("Enter weight in kilograms: "))
bmi = weight / (height * height)
if bmi >= 30:
    print("Obesity")
elif bmi >= 25:
    print("Overweight")
elif bmi >= 18.5 and bmi < 25:
    print("Normal")
else:
    print("Underweight")
print()

Enter height in meters:  180
Enter weight in kilograms:  50

Underweight

#### 2. Write a program to determine which country a city belongs to. Givenlist of cities per country: 
#### Australia = ["Sydney","Melbourne","Brisbane","Perth"]
#### UAE = ["Dubai","Abu Dhabi","Sharjah","Ajman"]
#### India = ["Mumbai","Bangalore","Chennai","Delhi"]
#### Ask the user to enter a city name and print the corresponding country.

In [44]:
cities = {
    "Australia" : ["Sydney","Melbourne","Brisbane","Perth"],
    "UAE" : ["Dubai","Abu Dhabi","Sharjah","Ajman"],
    "India" : ["Mumbai","Bangalore","Chennai","Delhi"]
}

input_city = input("Enter a city name: ")

for country, city in cities.items():
    if input_city in city:
        print(f"{input_city} is there in {country}")
        break
else:
    print("City isnt present in the database")
print()

Enter a city name:  Mumbai

Mumbai is there in India

#### 3. Write a program to check if two cities belong to the same country.
#### Ask the user to enter two cities and print whether they belong to the same country or not.

In [43]:
cities = {
    "Australia" : ["Sydney","Melbourne","Brisbane","Perth"],
    "UAE" : ["Dubai","Abu Dhabi","Sharjah","Ajman"],
    "India" : ["Mumbai","Bangalore","Chennai","Delhi"]
}

city_1 = input("Enter the first city ")
city_2 = input("Enter the second city ")

res = False

for country, city in cities.items():
    if city_1 in city and city_2 in city:
        # print(f"Both cities are in {country}")
        res = True
        break
if res:
    print(f"Both cities are in {country}")

if not res:
    print("They dont belong to the same country")
print()
print()

Enter the first city  Mumbai
Enter the second city  Bangalore

Both cities are in India

# => TASK 5 - LOOPS

#### 1. Using a for loop, simulate rolling a sixsided die multiple times (at least 20 times). Count and print the following statistics:
#### How many times you rolled a 6
#### How many times you rolled a 1
#### How many times you rolled two 6s in a row

In [42]:
import random

one = 0
six = 0
sixpeat = 0
prev = 0

for _ in range(20):
    dice = random.randint(1,6)
    print("Rolled: ", dice)

    if dice == 6:
        six += 1
    if dice == 1:
        one += 1
    if dice == 6 and prev == 6:
        sixpeat += 1
    
    prev = dice

print("6 was rolled for: ", six)
print("1 was rolled for: ", one)
print("2 6's were rolled for: ", sixpeat)
print()

Rolled:  5
Rolled:  6
Rolled:  1
Rolled:  6
Rolled:  5
Rolled:  3
Rolled:  3
Rolled:  1
Rolled:  2
Rolled:  3
Rolled:  4
Rolled:  5
Rolled:  2
Rolled:  5
Rolled:  6
Rolled:  1
Rolled:  1
Rolled:  6
Rolled:  5
Rolled:  1
6 was rolled for:  4
1 was rolled for:  5
2 6's were rolled for:  0

#### 2. Imagine you are doing a workout routine, and you have to complete 100 jumping jacks. Write a program that:
#### Asks you to perform 10 jumping jacks at a time. After each set, it asks, "Are you tired?"
#### If you reply "yes" or "y," it should ask if you want to skip the remaining sets.
#### If you reply "yes" or "y," it should break and print, 'You completed a total of jumping jacks.

In [63]:
total = 100
remaining = total

while remaining > 0:
    print(f"{remaining} jumping jacks are remaining. ")
    if remaining > 10:
        response = input("Perform 10 jumping jacks? (yes/no) ")
        if response.lower() in ["no", "no"]:
            tired = input("Are you tired? (yes/np) ")
            if tired.lower() in ["yes", "y"]:
                skip = input("Do you want to skip the remaining sets? (yes/no) ")
                if skip.lower() in ["yes", "y"]:
                    print(f"You have completed a total of {total - remaining} jumping jacks")
                    break
                else:
                    continue
        else:
            remaining -= 10
    else:
        response = input(f"Perform {remaining} jumping jacks? (yes/no) ")
        if response.lower() in ["no", "n"]:
            tired = input("Are you tired? (yes/no) ")
            if tired.lower() in ["yes", "y"]:
                skip = input("Do you want to skip the remaining sets? (yes/no) ")
                if skip.lower() in ["yes", "y"]:
                    print(f"You have completed a total of {total - remaining} jumping jacks ")
                    break
                else:
                    continue
            else:
                continue
        else:
            print("Congractulation! You have completed the workout successfully! ")
            break
print()
print()

100 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

90 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

80 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

70 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

60 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

50 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

40 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

30 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

20 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

10 jumping jacks are remaining.

Perform 10 jumping jacks? (yes/no)  yes

Congractulation! You have completed the workout successfully!